---
import AboutHeroImage from "../assets/电脑.png";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("June 31 2025")}
	heroImage={AboutHeroImage}
	tags={"me"}
>
	<h3>Who Am I?</h3>
	<p>
		I am an undergraduate student in SUSTech, Shenzhen, China. Presently, I
		am preparing for my sophomore year in Department of Computer Science and
		Engineering.
	</p>

	<h3>What I have learnt?</h3>
	<p>
		I am equipped with basic knowledge of C/C++, Java, Python and TeX. As I
		am preparing for some programming competition, I have gained basic
		knowledge of algorithms designing. Furthermore, I have learnt
		mathematics analysis, linear algebra, abstract algebra, probability
		theory and statistics on my own.
	</p>
	<h3>My Research Interest?</h3>
	<p>
		My main focus is on Algorithms, especially Coding Theory and
		Computational Complexity Theory. However, I am also interested in
		genetic algorithms and promoting SOTA algorithms.
	</p>
	<h3>My Future Plan?</h3>
	<p>
		I have brief plan for my further study. Firstly, I will further my study
		in mathematics, including a comprehensive insight into the Group
		Representation Theory and Probability and a solid foundation in
		Calculus. Secondly, I plan to study deep learning, machine learning as
		well as some novel ideas in the community. Thirdly, I plan to dive
		deeper into the world of algorithms and after long time practice and
		study, I hope I could publish a few papers in Complexity Theory or
		Algorithms, or, I may gain some medals in programming competitions.
	</p>
	<h3>What I am doing now?</h3>
	<p>
		Currently, I am recruiting for the founding members of TCS Club in
		SUSTech.
	</p>
</Layout>
